/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background:#ffffff;
  font-family: roboto;
}

div {
    color: #1f2937;
}

.main-color {
  background: #1F2937;
}

.grey-color {
  background: #e5e7eb;
}

/* header section */

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
  gap: 16px;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #ffffff;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

/* fold section */

.fold {
  display: flex;
  padding: 0;
  margin: 0;
  background: #1F2937;

}

.fold .left {
  flex: auto;
  width: 0;
  margin-right: 50px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 0;
}

.fold .right {
  display: flex;
  flex: auto;
  width: 0;
  background-color: #6D747D;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.left .text {
  margin-bottom: 16px;
  color: #e5e7eb;
}

.right .text {
  color: white;
}

button {
  border: none;
  border-radius: 8px;
  background-color: #3882F6;
  padding: 8px 28px;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

/* cards section */

.cards {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  text-align: center;
}

h2 {
    margin: 0;
    border-width: 100px;
    font-size: 36px;
    font-weight: 900;
}

.box .text {
  margin-top: 5px;
}

.box .img-placeholder {
  width: 150px;
  height: 150px;
  border: 3px solid #3882F6;
  border-radius: 12px;

}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
}


.boxes {
display: flex;
justify-content: center;
gap: 64px;

}

/* quote */

.check {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  text-align: center;
}

.quote p {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  text-align: left;
  padding: 0;
  margin: 0;
}

.quote .author {
  text-align: right;
  border-width: 100px;
  font-size: 22px;
  font-weight: 900;
}

/* cta */

.cta .container {
  display: flex;
  background: #3882f6;
  justify-content: space-between;
  text-align: left;
  color: white;
  border-radius: 12px;
  align-items: center;
}

.left .title {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 20px;
}

.container .left .text {
  margin: 0;
}

.right button {
  border: 2px solid #ffffff; 
  font-weight: 600;
  display: flex;
  
}

/* footer */

.footer .text {
  color: white;
  text-align: center;
}

/* paddings */

.small-padding {
    padding-left: 15vw;
    padding-right: 15vw;

}

.big-padding {
    padding-left: 18vw;
    padding-right: 18vw;
}

.block-padding {
    padding: 50px;
}

.footer-padding {
  padding: 20px;
}

.inner-padding {
  padding: 40px 100px;
}



